$color_darkPurple: #525497;
$color_lightPurple: #C8D3F4;
$color_lightPink: #F3F6FF;
$color_lilac: #B0B3FF;
$color_darkBlue: #0D0844;
$color_green: #B6FFB0;
$color_darkGreen: #1F8816;
$color_red: #FFB0B0;